.reg-form {
  position: relative;
}
.blur-filter {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}
